<section id="replyScreen">
    {{#each comments as |comment|}}
    {{#if comment.comment}}
    <section></section>
    <section class="href">
        <a href="/comments/{{comment.id}}">
            <section class="comments">
                <header class="commentHeader">{{user_id}}</header>
                <div>{{text_content}}</div>
            </section>
        </a>
    </section>
</section>