<section id="replyScreen">

   
    <section></section>
    <section class="href">
        <a href="/profile/{{user_id}}">
            <section class="comments">
                <h3 class="commentHeader">Click to see this user</h3>
                <div>{{text_content}}</div>
            </section>
        </a>
    </section>

</section>