<section id="replyScreen">

    {{#if comment}}
    <section></section>
    <section class="href">
        <a href="/comments/{{id}}">
            <section class="comments">
                <header class="commentHeader">{{user_id}}</header>
                <div>{{text_content}}</div>
            </section>
        </a>
    </section>
    {{/if}}
</section>