<section id="replyScreen">

   
    <section></section>
    <section class="href">
        <a href="/profile/{{user_id}}">
            <section class="comments">
                <h6 class="commentHeader">*Click to see this user*</h6>
                <div class="content">{{text_content}}</div>
            </section>
        </a>
    </section>

</section>