<section class="post">
    <section class="href">
        <a href="/posts/{{id}}">
            <header class="postTitle">
                {{title}}<br><hr id="postBreak">
            </header>
        </a>
    </section>
</section>