<section class="post">
    <section class="href">
        <a href="/posts/{{id}}">
            <header class="postTitle">
                {{title}}<br>
            </header>
        </a>
    </section>
</section>