/* this is how ya make a box borderrr*/
#homeScreen {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

#accountScreen {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

/*Sign Up Page*/
#body {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

#bio {}