    <section id="accountScreen">
        <ul id="accountInfo" class="list-group list-group-flush">
            <li id="name" class="list-group-item">{{first_name}}{{last_name}}</li>
            <li id="bio" class="list-group-item">
                <p>{{bio}}</p>
            </li>
            <li id="links" class="list-group-item">{{project_links}}</li>
        </ul>
    </section>

    <script src="../scripts/account.js"></script>
</body>
