
    <section id="signIn">
        <div class="shape">
            <h2>Login</h2>
            <form>
                <label for="username">Username:</label>
                <input type="text" id="username"><br>
                <label for="password">Password:</label>
                <input type="text" id="password"><br>
                <input type="submit" value="login">
            </form>
        </div>
    </section>

    <script src="../scripts/index.js"></script>
</body>
