<section id="postScreen">


    <section class="href">
            <section>
                <header class="postTitle">
                    {{title}}<br>
                    <div class="postDate">{{date_created}}</div>
                </header>
                <p class="postContent">{{text_content}}</p>
                <h5 class="postTag">{{tag}}</h5>

                <section id="replies">
                    <h3>Comments</h3>
                    {{#each comments as |comment|}}
                    {{> comments }}
                    {{/each}}
                </section>
            </section>
    </section>
</section>