<section id="postScreen">


    <section class="href">
        <a href="/posts/{{id}}">
            <header class="postTitle">
                {{title}}<br>
            </header>

            <section id="replies">
                {{#each comments as |comment|}}
                {{>(comments)}}
                {{/each}}
            </section>
        </a>
    </section>
</section>