
    <section id="body" class="text-center">
        <h2>Sign Up</h2>
        <form id="signUpForm">
            <div class="input-group">
                <span class="input-group-text">Your Name</span>
                <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First">
                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last">
            </div><br>
            <div class="input-group">
                <span class="input-group-text">Username:</span>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username">
            </div><br>
            <div class="input-group">
                <span class="input-group-text">
                    <span class="bi bi-envelope-fill"></span>
                    <input type="text" id="email" name="email" placeholder="Email"></span>
            </div><br>
            <div class="input-group">
                <span class="input-group-text">
                    <span class="bi bi-lock-fill"></span>
                    <input type="password" id="password" class="password" placeholder="Password"></span>
            </div><br>
            <div class="input-group">
                <span class="input-group-text">
                    <span class="bi-person"></span>
                    <input type="text" id="bio" class="bio" placeholder="Tell us a little about yourself!"></span>
            </div><br>
            <div class="input-group">
                <span class="input-group-text">Project Links:</span>
                <input type="text" id="link" class="link" placeholder="URL"><br>
                <input type="submit" value="Sign Up">

        </form>
    </section>

    <script src="./scripts/signUp.js"></script>
