
     <section id="body">
        <h2>Sign Up</h2>
        <form id="signUpForm">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName"><br>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName"><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label>
            <input type="text" id="password" class="password"><br>
            <label for="bio">Biography:</label>
            <input type="text" id="bio" class="bio"><br>
            <label for="links">Links:</label>
            <input type="text" id="link" class="link"><br>
            <input type="submit" value="Sign Up" id="signupSubmit">
        </form>
    </section>

    <script src="./scripts/signUp.js"></script>
