<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="../style/style.css">
    <title>Find My Musician</title>
</head>

<body>
    <header class="grid text-center">

        <h1 id="title" class="display-2">FindMyMusician</h1>
        <nav>
            <button id="logIn" class="homeScreen">Log In</button>
            <button id="signUp" class="homeScreen">Sign Up</button>
        </nav>
    </header>

    <section id="homeScreen">
        <div class="shape">
            <section class="row justify-content-center text-center" id="welcomeText">
                <p class="col-12 col-md-9 p-4 ">Find A Musician is a website dedicated to connecting musicians with
                    other
                    like-minded musicians for
                    collaboration and project assistance. Our platform allows musicians to easily create an account and
                    make
                    posts asking for a helping hand or collaboration from other musicians. Whether you're looking for a
                    guitarist for your band or a vocalist for your newest song our site offers a user-friendly interface
                    to
                    help you find the right fit. Join our community of passionate and creative musicians today and take
                    your
                    musical projects to the next level.</p>
            </section>

            <hr class="solid">

            <section id="postFeed">

                {{>(posts)}}


        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>
    <script src="../scripts/index.js"></script>
</body>